<!DOCTYPE html>
<html>
<head>
  <title>Deleting Account</title>
</head>
<body>

<h3>Do you really want to delete <%=@login%> account ?</h3>
<a href="/sauth/users/<%=@login%>/delete?ok=true"><input type="button" name="OK" value="OK"></a>
<a href="/sauth/users/<%=@login%>"><input type="button" name="Cancel" value="Cancel"></a>

</body>
</html>

