<!DOCTYPE html>
<html>
<head>
  <title>Error</title>
</head>
<body>

<h3>Error</h3>
<p>This account is not yours, you can't delete it !</p>
<a href="/sauth/users/<%=@login%>">Home Page</a>

</body>
</html>

