<!DOCTYPE html>
<html>
<head>
  <title>Forbidden</title>
</head>
<body>
	<div class="protected_fail">
		<h1>Forbidden !</h1>
		<p>Authentication failed, connection delay have exceeded.</p>
		<a href="/app1.fr">Return to home page</a>
	</div>
</body>
</html>

