<!DOCTYPE html>
<html>
	<head>
	  <title>App2</title>
	  <link href="/style.css" rel="stylesheet" type="text/css" media="screen" />
	  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	</head>

	<body>

		<header>
			<img src="/img/header.png" alt="Logo de app2" id="logo" />
		</header>

		<%= yield %>
	
		<footer>
			<img src="/img/footer.png" alt="footer" id="footer_img" />
		</footer>
	
	</body>
</html>
