<div class="protected">
	<h1>Welcome <%= @user%></h1>
	<p>You are in the protected area of app2</p>
	<a href="/app2.fr">Return to home page</a><br/>
	<a href="/app2.fr/disconnect">Disconnect</a>
</div>
