/* Header */
header
{
	padding-bottom: 10px;
	background: url('img/splitter.png') repeat-x bottom;
	margin-bottom: 10px;
}

#logo
{
	width: 100%;
}



/* Footer */
footer
{
	background:  url('img/splitter.png') repeat-x top;
	padding-top: 10px;
	margin-top: 40px;
}

#footer_img
{
	width: 100%;
}



/* Body */
body
{
	font: 16px Georgia;
	width: 75%;
	margin: auto;
}

.delete_img
{
	width: 1%;
	height: 1%;
	margin-left: 10px;
}

h1
{
	font: bold 28px Georgia;
}

a
{
	text-decoration: none;
	color: blue;
}

a:hover 
{
    text-decoration: underline;
}
    
li
{
	line-height:180%;
	list-style-type: none;
}

.actions input
{
	font-weight: bold;
	margin-top: 2%;
}

.field
{
	margin-top: 1%;
}
