<!DOCTYPE html>
<html>
<head>
  <title>Welcome !</title>
</head>
<body>
	<div class="protected">
		<h1>Welcome <%= @user%></h1>
		<p>You are in the protected area</p>
		<a href="/app1.fr">Return to home page</a><br/>
		<a href="/app1.fr/disconnect">Disconnect</a>
	</div>
</body>
</html>

